* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-fundo: #FCCF36;
    --cor-btn-nav: #FBE772;
    --cor-texto-nav: #ED5E10;
    --cor-hover: #FFC300;
    --cor-texto-jeff: #CC1A10;
    --cor-carrinho: #FFDF12;
    --cor-preto: #000000;
}

body {
    font-family: serif;
    background: var(--cor-fundo);
}


.img-logo {
    max-width: 89px;
    height: auto;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fcce36;
    border-bottom: 1px solid #000000;
    font-size: 20px;

}

.navbar-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
}

.navbar-inner a {
    color: var(--cor-texto-nav);
    background-color: var(--cor-btn-nav);
    text-decoration: none;
    font-weight: bold;
    padding: 10px 45px;
    border-radius: 5px;
    transition: background-color 0.3s ease;

}

.navbar-inner a:hover {
    background-color: var(--cor-hover);
}

.navbar-links {
    display: flex;
    gap: 50px;
    list-style: none;
}

main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    margin-top: 170px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    
}

.livro-autor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.apresentacao-livro {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 70px;
}

.img-livro {
    max-width: 300px;
    height: auto;
    margin-top: 20px;
}

.link-jeff {
    color: var(--cor-texto-jeff);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

h1 {
    font-size: 70px;
    color: var(--cor-preto);
}

h2 {
    font-size: 50px;
    color: var(--cor-preto);
}

h3{
    font-size: 36px;
    color: var(--cor-preto);
}

.btn-comprar {
    background-color: var(--cor-carrinho);
    border: none;
    padding: 60px;
    font-size: 19px;
    border-radius: 50%;
}

button:hover {
    background-color: var(--cor-hover);
    padding: 66px;
    cursor: pointer;
}

.texto {
    font-size: 25px;
    color: var(--cor-preto);
    font-weight: bolder;
}

.icone{
    font-size: 50px;
}

